@import 'variables';

.navigation {
    position: relative;
    height: 100%;

    .logo {
        margin: 0;
        color: #fff;
        background-color: $primary;
        padding: $lengthMD;
        img {
            width: 170px;
            margin: auto;
        }
    }

    .user_panel_lg {
        color: #fff;
        text-align: center;
        padding: $lengthSM;
        font-size: 1rem;
        background-color: $secondaryBorder;
    }

    .user_panel_sm {
        display: none;
        color: #fff;
        margin-left: $lengthSM;
    }

    .info_panel {
        color: #fff;
        text-align: center;
        margin: $lengthSM;
        p {
            font-size: .8rem;
            margin: $lengthSM auto $lengthXS;
        }
        div {
            padding: $lengthXS;
            background-color: $primary;
        }
    }

    .logout {
        display: block;
        position: absolute;
        bottom: 0;
        margin: $lengthMD;
        width: calc(100% - 64px);
        img {
            display: none;
        }
    }

    @media screen and (max-width: $mobile_width) {
        display: grid;
        grid-template-columns: 110px auto 48px;
        height: 60px;

        .logo {
            grid-column: 1;
            display: grid;
            padding: 0 $lengthSM;
            img {
                align-self: center;
                width: unset;
                margin: unset;
            }
        }

        .user_panel_lg {
            display: none;
        }

        .user_panel_sm {
            grid-column: 2;
            display: inherit;
            align-self: center;
        }

        .info_panel {
            display: none;
        }

        .logout {
            grid-column: 3;
            span {
                display: none;
            }
            img {
                display: initial;
            }

            // reset styles
            display: unset;
            position: inherit;
            bottom: unset;
            margin: 0;
            width: unset;
            background-color: transparent;
            padding: 0;
        }

    }
}