<!-- HTTP Loading bar interceptor package -->
<ngx-loading-bar
    [height]="'4px'"
    [color]="'#14fbe8'"
    [includeSpinner]="false">
</ngx-loading-bar>

<app-language></app-language>
<router-outlet></router-outlet>