<div id="login">

  <div class="login">

    <!-- Login form header -->
    <h1 class="logo">
      <img src="/assets/image/logo.svg" alt="isAuth">
    </h1>
    <p>{{ 'info.login' | translate }}</p>

    <!-- Login form -->
    <form class="form_" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <!-- email input -->
      <input formControlName="email" placeholder="{{ 'form.label.email' | translate }}" [ngClass]="{ 'is_invalid_top': submitted && f.email.errors }">

      <!-- password input -->
      <input formControlName="password" type="password" placeholder="{{ 'form.label.passw' | translate }}" [ngClass]="{ 'is_invalid_bottom': submitted && f.password.errors }">

      <!-- submit button -->
      <button type="submit" class="submit">
        {{ 'action.login' | translate }}
      </button>

      <div class="form_errors" *ngIf="submitted && (f.email.errors || f.password.errors)">

        <!-- email errors -->
        <span *ngIf="f.email.errors">
          <p *ngIf="f.email.errors.required">
            {{ 'form.label.email_req' | translate }}
          </p>
          <p *ngIf="f.email.errors.email || f.email.errors.pattern">
            {{ 'form.label.email_val' | translate }}
          </p>
        </span>

        <!-- password errors -->
        <span *ngIf="f.password.errors">
          <p *ngIf="f.password.errors.required">
            {{ 'form.label.passw_req' | translate }}
          </p>
          <p *ngIf="f.password.errors.minlength">
            {{ 'form.label.passw_val' | translate }}
          </p>
        </span>
        
      </div>

    </form>

    <!-- Login form footer -->
    <small>
      <p>{{ 'info.no_account' | translate }}.</p>
      <button (click)="onNavigate('signup')">
        {{ 'action.signup_now' | translate }}
      </button>
    </small>
  </div>

</div>