<div id="modal" *ngIf="modalDisplay">
  <div [ngClass]="{ 'animation': animate }">
    <h3>{{ modal.title}}</h3>
    <p>{{ modal.text }}</p>
    <button (click)="accept()" *ngIf="modal.confirm" class="outline">
      {{ modal.confirm }}
    </button>
    <button (click)="dismiss()" *ngIf="modal.dismiss">
      {{ modal.dismiss }}
    </button>
  </div>
</div>